body{
    background-color: #FFDBDB;
}

h1{
    background-color: #FFC6C6;
    color:#644A07 ;
    text-align: center;
    font-family:  'Brush Script MT', cursive;
}

h2{
    background-color: #FFC6C6;
    color:#644A07 ;
    text-align: center;
    font-family:  'Brush Script MT', cursive;
}

p{
    
    color:#644A07 ;
    text-align: center;
    font-family:  'Brush Script MT', cursive;
    font-size:larger;
}

.me{
     display: block;
  margin-left: auto;
  margin-right: auto;
  border:solid 15px #FFC6C6 ;
}