body{
    background-color: yellow;
}

.eye{
    width: 250px;
    height: 250px;
    background-color:white;
    position: relative; 
    margin-left: 20px;  
    margin-top: 20px;
    display: inline-block;
    
        
    /*justify-content: center;
    align-items: center;
    overflow: hidden;  */
}

.pupil{
    width: 100px;
    height: 100px;
    background-color:black;
    margin: 40px;
    margin-top: 30px;
    display: inline-block;
}

.mouth{
    width: 500px;
    height: 350px;
    background-color: black;
    margin-left: 30px;
    margin-top: 40px;
}

.teeth{
    width: 50px;
    height: 50px;
    background-color: ghostwhite;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
}

.tongue1{
    width: 100px;
    height: 150px;
    background-color: crimson;
    display: inline-block;
    margin-top: 126px;
    margin-left: 120px;
   ;

}

.tongue{
    width: 100px;
    height: 150px;
    background-color: crimson;
    display: inline-block;
    margin-top: 126px;
    margin-left: 20px;
   ;

}

.tongue2{
    width: 210px;
    height: 50px;
    background-color: crimson;
    display: inline-block;
    margin-top: 300px;
    margin-left: px;
    border: solid 300px;
   ;

}